:host{
    .navbar{
        margin: 0;
        background: #FFBA00;
        border: 0px;
    .container{
            display: flex;
            .header-left{
                flex: 1;
                .logo{
                    margin: auto;
                    a{
                        font-size: 25px;
                        font-family: cursive;
                        font-variant: petite-caps;
                        text-decoration: none;
                    }
                    img{
                        height: 50px;
                    }
                    img:hover{
                        cursor: pointer;
                    }
                }
            }
            .header-center{
                flex: 1;
                display: flex;
                text-align: center;
                margin: auto;
                .center{
                    flex: 1;
                    a{
                        cursor: pointer;
                        color: #000000; 
                        text-decoration: none;     
                        img{
                            height: 20px;
                        }
                    }
                    a:hover{
                        color: #9B9B9B;
                    }
                }
              
            }
        }
        .header-right{
           position: absolute;
           top: 10px;
           right: 20px;
           display: none;
        }
    }  
}