<div class="container">
  <div class="cl">
    <h2>Liên kết</h2>
    <ul>
      <li>
        <a>
          <i class="fa fa-facebook-square"></i>
          Facebook
        </a>
      </li>

      <li>
        <a>
          <i class="fa fa-google-plus-square"></i>
          Google+
        </a>
      </li>

      <li>
        <a>
          <i class="	fa fa-youtube-square"></i>
          Youtube
        </a>
      </li>
    </ul>
  </div>

  <div class="cl">
    <h2>Bản di động</h2>
    <ul>
      <li>
        <img src="https://static.chotot.com.vn/storage/marketplace/ios-logo.svg">
      </li>

      <li>
        <img src="https://static.chotot.com.vn/storage/marketplace/gg-play.svg">
      </li>
    </ul>
  </div>

  <div class="cl">
    <h2>Hỗ trợ khách hàng</h2>
    <ul>
      <li>
        <a>Trung tâm trợ giúp</a>
      </li>

      <li>
        <a>An toàn mua bán</a>
      </li>

      <li>
        <a>Quy định mua bán</a>
      </li>

      <li>
        <a>Liên hệ hỗ trợ</a>
      </li>
    </ul>
  </div>

  <div class="cl">
    <h2>Về Matket CK</h2>
    <ul>
      <li>
        <a>Giới thiệu</a>
      </li>

      <li>
        <a>Tuyển dụng</a>
      </li>

      <li>
        <a>Truyền thông</a>
      </li>

      <li>
        <a>Blog</a>
      </li>
    </ul>
  </div>

  <div class="cl">
    <h2>Chứng nhận</h2>
    <img src="https://static.chotot.com.vn/storage/marketplace/cerfiticate.png" alt="chứng nhận">
  </div>
</div>