:host{
   form{
    width: 50%;
    margin:0 auto;
    padding-top: 40px; 
    .form-group{
        #where{
            padding: 5px;
        }
    }
    .post{
        position: absolute;
        right: 50%;
    }
   }
   .foot{
       margin-top: 150px;
   }
}