<div class="container">
  <div class="incre">
    <div class="img">
      <img src="https://static.chotot.com.vn/storage/marketplace/home/sub-banner.png">
    </div>
    <div class="dn">
      <h2>Đăng nhập để không bỏ lỡ món hời giá tốt</h2>
      <a routerLink="/login" title="Đăng nhập ngay">Đăng nhập ngay</a>
      <p routerLink="/register" title="Đăng kí tài khoản">Đăng kí tài khoản</p>
    </div>
  </div>
  <h4>Khám phá danh mục</h4>
  <ul>
    <li>
      <a>
        <img src="https://static.chotot.com.vn/storage/marketplace/home/category/cho-tot-nha.png">
        <div class="img-list">
          <span>Rao Vặt Nhà</span>
        </div>
      </a>
    </li>

    <li>
      <a>
        <img src="https://static.chotot.com.vn/storage/marketplace/home/category/cho-tot-xe.png">
        <div class="img-list">
          <span>Rao Vặt Xe</span>
        </div>
      </a>
    </li>

    <li>
      <a>
        <img src="https://static.chotot.com.vn/storage/marketplace/home/category/do-dien-tu.png">
        <div class="img-list">
          <span>Đồ điện tử</span>
        </div>
      </a>
    </li>

    <li>
      <a>
        <img src="https://static.chotot.com.vn/storage/marketplace/home/category/me-va-be.png">
        <div class="img-list">
          <span>Mẹ và bé</span>
        </div>
      </a>
    </li>

    <li>
      <a>
        <img src="https://static.chotot.com.vn/storage/marketplace/home/category/noi-ngoai-that.png">
        <div class="img-list">
          <span>Nội ngoại thất, đồ gia dụng</span>
        </div>
      </a>
    </li>

    <li>
      <a>
        <img src="https://static.chotot.com.vn/storage/marketplace/home/category/thoi-trang-do-dung-ca-nhan.png">
        <div class="img-list">
          <span>Thời trang, đồ dùng cá nhân</span>
        </div>
      </a>
    </li>

    <li>
      <a>
        <img src="https://static.chotot.com.vn/storage/marketplace/home/category/dich-vu-du-lich.png">
        <div class="img-list">
          <span>Dịch vụ, du lịch</span>
        </div>
      </a>
    </li>

    <li>
      <a>
        <img src="https://static.chotot.com.vn/storage/marketplace/home/category/giai-tri-the-thao-so-thich.png">
        <div class="img-list">
          <span>Giải trí, thể thao </span>
        </div>
      </a>
    </li>

    <li>
      <a>
        <img src="https://static.chotot.com.vn/storage/marketplace/home/category/do-van-phong.png">
        <div class="img-list">
          <span>Đồ văn phòng, công nông nghiệp</span>
        </div>
      </a>
    </li>

    <li>
      <a>
        <img src="https://static.chotot.com.vn/storage/marketplace/home/category/thu-cung.png">
        <div class="img-list">
          <span>Thú cưng</span>
        </div>
      </a>
    </li>
  </ul>

  <div class="info">
    <p>Matket CK chính thức gia nhập thị trường Việt Nam vào đầu năm 2012, với mục đích tạo ra cho bạn một kênh rao vặt trung
      gian, kết nối người mua với người bán lại với nhau bằng những giao dịch cực kỳ đơn giản, tiện lợi, nhanh chóng, an
      toàn, mang đến hiệu quả bất ngờ. Đến nay, Matket CK tự hào là Website rao vặt được ưa chuộng hàng đầu Việt Nam. Hơn hàng
      ngàn món hời từ Bất động sản, Nhà cửa, Xe cộ, Đồ điện tử, Thú cưng, Vật dụng cá nhân... đến tìm Việc làm, Thông tin
      Tuyển dụng, Dịch vụ - Du lịch được đăng tin, rao bán trên Matket CK. Một điểm nổi bật tại Chợ tốt, bất kỳ ai cũng có
      thể đăng tin rao vặt miễn phí ngay, không cần phải đăng ký tài khoản. Với Matket CK, bạn có thể dễ dàng mua bán, trao
      đổi bất cứ một loại mặt hàng nào, dù đó là đồ cũ hay đồ mới với nhiều lĩnh vực tại Việt Nam
    </p>
  </div>
</div>