<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://static.chotot.com.vn/storage/admin-centre/y_homepage_banner/y_homepage_banner_1536212467258.jpg">
    </div>

    <div class="item">
      <img src="https://static.chotot.com.vn/storage/admin-centre/y_homepage_banner/y_homepage_banner_1536726372178.jpg">
    </div>

    <div class="item">
      <img src="https://static.chotot.com.vn/storage/admin-centre/y_homepage_banner/y_homepage_banner_1536214236957.jpg">
    </div>

    <div class="item">
      <img src="https://static.chotot.com.vn/storage/admin-centre/y_homepage_banner/y_homepage_banner_1535371610990.jpg">
    </div>
  </div>
</div>