:host{
    flex: 1;
    .title{
        border-radius: 30px;
        width: 420px;
        height:auto;
        margin: 0px auto;
        padding: 30px 10px;
        background: #ffffff;
        .title-si{
            text-align: center;
            font-size: 22px;
            font-weight: 600;
            color: #b52323;
        }
        
        .inp{
            .form{
                mat-form-field{
                    width: 100%;
                    input{
                        display: block;
                        font-size: 14px;
                        line-height: 1.42857143;
                        color: #555;
                        background-color: #fff;
                    }
                }
            }
        }
        .text{
            margin-top: 20px;
            .check-si{
                margin-top: 20px;
                .btn{
                    float: right;
                    color: #5496ff;
                }
                a:hover{
                    cursor: pointer;
                    color: #000;
                }
            }
        }
    }
}